
<!DOCTYPE html>
<html>

<head>

	{% load static %}
	<script src="{% static 'goldenap/json2.js'%}"></script>
	<script src="{% static 'goldenap/echarts.js'%}"></script>
	<script src="{% static 'goldenap/matplotlib.js'%}"></script>
	<meta charset="utf-8">
</head>
<body>
	<div id="main" style="background-color:#eceaea; width: 800px; height:600px;"></div>
    <div id="myDiv">
        <h2>使用 AJAX 修改该文本内容</h2></div>
    <button type="button" onclick="loadXMLDoc()">修改内容</button>


	<script>

		var json = {{myContext | safe}}

		var jstr = JSON.stringify(json)

		var option = JSON.parse(jstr)

		// console.log(option)

		<!-- 为ECharts准备一个具备大小（宽高）的Dom -->

		// 基于准备好的dom，初始化echarts实例

		var myChart = echarts.init(document.getElementById('main'), 'matplotlib');

 

		// 使用刚指定的配置项和数据显示图表。

		myChart.setOption(option);

		function loadXMLDoc() {

			var xmlhttp;

			if (window.XMLHttpRequest) {

				//  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码

				xmlhttp = new XMLHttpRequest();

			} else {

				// IE6, IE5 浏览器执行代码

				xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");

			}

			xmlhttp.onreadystatechange = function() {

				if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

					//document.getElementById("myDiv").innerHTML=xmlhttp.responseText;

					//content = "{{ myContext }}";

					//console.log(content)

					//var json = xmlhttp.responseText;

					//var jstr = JSON.stringify(json)

					option = JSON.parse(xmlhttp.responseText)

					// 使用刚指定的配置项和数据显示图表。

					myChart.setOption(option);

					//console.log(option);

				}
			}
			xmlhttp.open("GET", "/myapp/mytext", true);
			xmlhttp.send();

		}
		setInterval(loadXMLDoc, 500);
	</script>
</body>
</html>
